---
title: DX Application Performance Management for PCF
---

<p class="note warning">
<strong>Warning: </strong>
Instana Microservices Application Monitoring for PCF is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

This tile, when installed, enables you to use DX Application Performance Management (APM) on Pivotal Cloud Foundry (PCF).

## <a id='overview'></a>Overview

The **DX Application Performance Management for PCF** tile delivers the necessary components to monitor your applications on PCF. Once installed, the **DX Application Performance Management for PCF** service becomes available in your PCF Marketplace.

## <a id='features'></a>Key Features

DX APM for PCF currently supports the following:

* Java (Buildpack v4.15+)
* .NET/.NET Core

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about DX APM for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.0.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 29, 2019</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.3, v2.4, v2.5, v2.6</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.3, v2.4, v2.5, v2.6td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

DX APM for PCF has the following requirements:

+ A DX APM SaaS subscription or a DX APM on-premise installation

+ [Redis for PCF] (https://network.pivotal.io/products/p-redis) with Lua scripting enabled.


## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue, visit [Broadcom Support] (https://www.broadcom.com/support/request-tech-support).

## <a id='license'></a>License

**NOTICE**: This product is owned and/or licensed by Broadcom.

An active license agreement for DX Application Performance Management (“License Agreement”) is required for its use. Your use of this product is governed by the terms of the License Agreement. If you do not have an active License Agreement with Broadcom, you can not use this product.

For details, contact [Broadcom] (https://www.broadcom.com/).
