---
title: Release Notes for DX APM for VMware Tanzu
---

<strong><%= modified_date %></strong>

##<a id="ver"></a> v1.0.6

**Release Date:** April 14, 2021

.NET Agent update to 21.4.0.26


##<a id="ver"></a> v1.0.5

**Release Date:** October 22nd, 2020

.NET Agent update to 20.9.0.13


#<a id="ver"></a> v1.0.4

**Release Date:** October 16, 2020

Fixed Minor issues with .NET Core Extension Buildpack


##<a id="ver"></a> v1.0.0

**Release Date:** August 30, 2019

Initial Beta Release
