---
title: Using DX Application Performance Management for VMware Tanzu
---

##<a id='overview'></a> Overview
Follow these high-level steps to use DX APM for VMware Tanzu:

1. [Create a service instance] (#creating).

1. [Bind an application to the service instance] (#binding).

1. [Push or restage the application] (#restaging).

You can use Apps Manager or use Cloud Foundry Command Line Interface (cf-cli) to perform these steps.

##<a id='creating'></a> Creating a Service Instance

###<a id='apps1'></a>Using the Apps Manager
1. Navigate to your space and click **Add a Service**.

1. Click on **DX Application Performance Management** in the Services Marketplace listings.

1. Choose the **Standard** plan, and click **Select Plan**.

1. Provide a service **instance name**.

1. In the **Advanced Configuration** section, supply values for the parameters.
These parameters are required: ``agent_manager_url``, the URL to an Enterprise Manager server or to a DX APM SaaS tenant. All other parameters are optional depending on your DX APM installation.

1. (Optional) You can [bind] (#apps2) this service instance to an application now or perform the bind later.

1. Click **Create** to create the service instance.
If the service instance creation fails, ensure that Lua scripting is enabled on your Redis for VMware Tanzu installation. It is required for DX APM for VMware Tanzu.
Enable Lua scripting and reinstall Redis for VMware Tanzu in the Ops Manager. If Lua scripting is already enabled, contact [Broadcom Support] (https://www.broadcom.com/support/request-tech-support).

1. Proceed to [binding] (#apps2) this service instance to an application.

###<a id='cli1'></a>Using the cf-cli
1. Run the ``cf target`` command to verify that your cf-cli is authenticated and pointing to the correct organization and space.

1. Creating service instances across platforms are detailed on [Cloud Foundry] (https://cli.cloudfoundry.org/en-US/cf/create-service.html). When creating a service instance of DX APM for VMware Tanzu, configuration parameter ``agent_manager_url`` is required.
For example, ``cf create-service introscope standard <your service instance name> -c '{"agent_manager_url" :"http://your.dx-apm.server.url"}'``
Additional configuration parameters understood by DX APM for VMware Tanzu can be found [here] (#params).
If the service instance creation fails, ensure that Lua scripting is enabled on your Redis for VMware Tanzu installation. It is required for DX APM for VMware Tanzu. Enable Lua scripting and reinstall Redis for VMware Tanzu in the Ops Manager. If Lua scripting is already enabled, contact [Broadcom Support] (https://www.broadcom.com/support/request-tech-support).

1. Proceed to binding this service instance to an application by using either the [cf-cli] (#cli2) or the [application manifest] (#manifest).

##<a id='binding'></a> Binding an Application to a Service Instance

###<a id='apps2'></a>Using the Apps Manager
1. If you chose to bind to an application when you [created the service instance] (#apps1), proceed to [push or restage] (#apps3) the application.

1. Navigate to the **Services** tab of the application in Apps Manager.

1. Click **Bind Service**.

1. Under the **Service to Bind** dropdown, select the service instance that you created.

1. (Optional) You can supply additional parameters by using key value fields under **Add Parameters**. Supported configuration parameters can be found [here] (#params)

1. Click **Bind** to create the binding.

1. Proceed to [restage] (#apps3) the application.

###<a id='cli2'></a>Using the cf-cli
1. Run the ``cf bind-service <application-name> <your service instance name>`` command to bind the application to the service instance.

1. You can pass additional parameters as specified [here] (http://cli.cloudfoundry.org/en-US/cf/bind-service.html). Supported configuration parameters can be found [here] (#params).

1. Proceed to [restage] (#cli3) the application.

###<a id='manifest'></a>Using the Application Manifest

1. Add ``<your service instance name>`` to the **services** section of the application manifest to bind the service instance to the application.

	```yaml
	---
	applications:
	- name: cf-java
	  memory: 1G
	  services:
		- <your service instance name>
	```

1. Proceed to [push] (#cli3) the application.

##<a id='restaging'></a> Push or Restage the Application

###<a id='apps3'></a>Using the Apps Manager
1. Navigate to the application in Apps Manager.

1. If **Restage** appears on the page, click to restage the application with DX APM for VMware Tanzu enabled.
You can view application metrics after the application performs some tasks.

1. If **Restage** does not appear, use the [cf-cli to push or restage the application.] (#cli3)

###<a id='cli3'></a>Using the cf-cli
1. Run the ``cf restage <application-name>`` command to restage the application with DX APM for VMware Tanzu enabled.

1. If you want to push the application again, navigate to the application directory and run the ``cf push`` command.
For additional options while pushing, see [this] (http://cli.cloudfoundry.org/en-US/cf/push.html).
You can view DX APM metrics after the application performs some tasks.


##<a id='other'></a> Other Operations
###<a id='updating'></a> Updating an Existing Service Instance
You can update existing service instances with new configuration parameter values.
**Note**: You must restage or push the application for any changes to take effect.

####<a id='apps4'></a>Using the Apps Manager
1. Navigate to the service instance in Apps Manager.
Find the service instance either in the space in which it was created or under the application to which the service instance is bound. You can modify existing parameters and add new parameters to the service instance.

1. Under the **Settings** tab, provide parameters and their associated values in the key value fields. Supported configuration parameters can be found [here] (#params).

1. Click **Update Configuration Parameters** to update the service instance.

1. [Restage] (#apps3) the application for changes to take effect.


####<a id='cli4'></a>Using the cf-cli
1. Instructions to update service instances across platforms can be found [here] (http://cli.cloudfoundry.org/en-US/cf/update-service.html). Supported configuration parameters can be found [here] (#params).

1. [Restage or push] (#cli3) the application for changes to take effect.

###<a id='updating'></a> Unbinding an Application from a Service Instance
If you need to remove DX APM for VMware Tanzu from an application, you must unbind the associated service instance from the application.
**Note**: You must restage or push the application for any changes to take effect.

####<a id='apps5'></a>Using the Apps Manager
1. Navigate to the application in Apps Manager.

1. Under the **Service** tab, a listing shows the services that are bound to the application.

1. Access more options (3 vertical dots) on the appropriate service instance displayed and click **unbind**. This unbinds the service from that application.

1. [Restage] (#apps3) the application for changes to take effect.


#####<a id='cli5'></a>Using the cf-cli
1. Run the ``cf unbind-service <application-name> <service-instance-name>`` command to unbind the application.

1. [Restage or push] (#cli3) the application for the changes to take effect.


##<a id='params'></a>DX APM for VMware Tanzu Service Parameters
1.

	|  Parameter Key  |  Parameter Value/Description  |
	|  -----  |  -----  |
	|  ``agent_name``  |  (Optional) Name of the DX APM agent that monitors the application bound to the service instance.  |
	|  ``agent_default_process_name``  |  (Optional) Name of the process monitored by the agent. The application name is used by default.  |
	|  ``agent_manager_url``  |  (Required) The url of the DX APM Enterprise Manager server or DX APM SaaS tenant.  |
	|  ``agent_manager_credential ``  |  (May be required) The secret credential that authorizes an agent to access the DX APM Enterprise Manager or DX APM SaaS tenant.  |
